.dashboard {
    padding: 80px;
    text-align: center;
}
.dashboard .event-list {
    max-width: 1200px; 
    margin: 0 auto; 
}

.upload-btn{
    background-color: #ffaf4f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.browse-btn{
    background-color: #ff79df;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.submit-btn{
    background-color: #ffA74F;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.event-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.search-bar{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ff79df;
    outline: none;
    transition: border 0.3s ease;
}

.search-bar:focus{
    border: 2px solid transparent;
    background-clip: padding-box;
    border-image: linear-gradient(
        135deg,
        rgba(255, 247, 79, 1),
        rgba(255, 175, 79, 1),
        rgba(255, 121, 223, 1)
    );
    border-image-slice: 1;
    animation: rainbow-focus 2s linear infinite;
}

.filter-buttons button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #ffA74F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.filter-buttons button:hover{
    background-color: #ff79df;
}

:root {
    --shadow-color-1: rgba(255, 121, 223, 1);
    --shadow-color-2: rgba(255, 247, 79, 1);
    --shadow-color-3: rgba(255, 175, 79, 1);
}
.event-card-container {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05s);
        box-shadow: 0px 4px 10px var(--shadow-color);
    }
}
.time-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    gap: 140px;
}
.time-filter label{
    font-size: 1rem;
    font-weight: 500;
    color: #ff79df;
}
.time-filter select{
    padding: 10px 15px;
    background-color: #ffA74F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.01s, box-shadow 0.01s ease;
    appearance: none;
}
.time-filter select:hover{
    background-color: #ff79df;
}
.time-filter select:focus{
    background-color: #ffA74F;
    box-shadow: 0 0 5px var(--shadow-color-1);
    outline: none;
    border-color: #ff79df;
}
.create-event-btn,
.edit-event-btn {
  background-color: #ffaf4f; // Orange color for both buttons
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin: 10px;

  &:hover {
    background-color: #e69e40; // Slightly darker orange on hover
  }

  &:focus {
    outline: none;
  }
}



